{% load static %}
   
    
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Footer
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <footer class="footer-section footer-section-two pt-120">
        <div class="footer-bg">
            <img src="{% static 'assets/images/bg/bg-4.png' %}" alt="bg">
        </div>
        <div class="container">
            <div class="row mb-30-none">
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a class="site-logo site-title" href="index.html"><img src="{{data.white_logo.url}}" alt="site-logo" style="height: 200px;"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Useful Links</h4>
                        <ul class="footer-list">
                            <li>Join RSC</li>
                            <li>Participaton and Honours</li>
                            <li>Events</li>
                            <li>Gallery</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Contact us</h4>
                        <ul class="footer-list">
                            <li>{{data.location}}</li>
                            <li><span>Email :</span> {{data.email}}</li>
                            <li><span>Telephone :</span> {{data.contact}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Our Socials</h4>
                        <ul class="footer-social">
                            <li><a href="{{data.facebook_url}}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{data.instagram_url}}"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="{{data.youtube_url}}"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrapper">
            <div class="row justify-content-center">
                <div class="col-xl-12 text-center">
                    <div class="copyright-area">
                        <p>Copyright 2023 Royal Sports.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        End Footer
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    
    
    
    
    <!-- jquery -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- swipper js -->
    <script src="{% static 'assets/js/swiper.min.js' %}"></script>
    <!-- lightcase js-->
    <script src="{% static 'assets/js/lightcase.js' %}"></script>
    <!-- odometer js -->
    <script src="{% static 'assets/js/odometer.min.js' %}"></script>
    <!-- viewport js -->
    <script src="{% static 'assets/js/viewport.jquery.js' %}"></script>
    <!-- progress js -->
    <script src="{% static 'assets/js/circle-progress.min.js' %}"></script>
    <!-- aos js file -->
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <!-- nice select js -->
    <script src="{% static 'assets/js/jquery.nice-select.js' %}"></script>
    <!-- paroller js -->
    <script src="{% static 'assets/js/jquery.paroller.min.js' %}"></script>
    <!-- flipclock js -->
    <script src="{% static 'assets/js/flipclock.min.js' %}"></script>
    <!-- countdown js -->
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <!-- easypiechart js -->
    <script src="{% static 'assets/js/jquery.easypiechart.js' %}"></script>
    <!-- isotope js -->
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <!-- preloader js -->
    <script src="{% static 'assets/js/preloader.js' %}"></script>
    <!-- main -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    
    
    </body>
    </html>
    