{% load static %}{% include "header.html" %}
<section class="training-section training-section--style ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 text-center">
                <div class="section-header aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                    <h2 class="section-title">OUR <span>GALLERY</span> </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-30-none">
            {% for gallery in gallerys %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30">
                <div class="training-item aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="training-thumb" style="width: 350px; height: 233px; overflow: hidden;">
                        {% for image in gallery.galleryimage_set.all %}
                        {% if forloop.first %}
                        <img src="{{ image.image.url }}" alt="training" style="width: 100%; height: auto;">
    
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="training-content">
                        <h3 class="title" style="height: 48px;"><a href="{% url 'gallery_details' id=gallery.id %}">{{ gallery.title }}</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>
{% include "footer.html" %}