{% include "header.html" %} {% load static %}

<section class="banner">
    <!-- <div class="slider-prev">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div class="slider-next">
        <i class="fas fa-chevron-right"></i>
    </div> -->
    <div class="banner-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner-section banner-section-two banner-section-homepage">
                    <div class="banner-bg bg-overlay-black bg_img" data-background="{{rcs.heading_image.url}}"></div>
                    <!-- <div class="banner-text-group">
                        <div class="row justify-content-center align-items-end mb-30-none">
                            <div class="col-xl-12 col-lg-12 text-center mb-30">
                                <div class="banner-content" data-aos="zoom-in-up" data-aos-duration="1000">
                                    <h3 class="inner-title" style="margin-top: -40%; font-size: 80px; color: black;">WELCOME TO ROYAL SPORTS CENTRAL</h3>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <img src="" alt="" style="width: 100%;">
</section>

<section class="contact-item-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 text-center">
                <div class="section-header">
                    <h2 class="section-title">Welcome to<br><span> Royal Sports Central</span></h2>
                </div>
            </div>
        </div>
        <div class="plan-area change-subs-duration">
            <div class="row justify-content-center mb-30-none">
                
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="plan-item">
                        <div class="plan-content">
                            <div class="plan-header">
                                <div class="plan-badge-area">
                                    <span class="plan-badge red">Morning</span>
                                </div>
                            </div>
                            <ul class="plan-list">
                                <li>Coming Soon</li>
                            </ul>
                        </div>
                        <div class="plan-footer">
                            <a href="{% url 'contact' %}">
                                <h3 class="title">Book Now</h3>
                                <div class="plan-btn"><i class="fas fa-angle-right"></i></div>
                            </a>
                        </div>
                        <div class="plan-overlay">
                            <img src="{% static 'pricebg.jpg' %}" alt="element">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="plan-item">
                        <div class="plan-content">
                            <div class="plan-header">
                                <div class="plan-badge-area">
                                    <span class="plan-badge red">Day</span>
                                </div>
                            </div>
                            <!-- <div class="plan-price-area">
                                <h2 class="price-title"><sup>Rs.</sup>TBD<sub>/day</sub></h2>
                            </div> -->
                            <ul class="plan-list">
                                <li>4:00 PM to 6:00 PM</li>
                                <li>Sunday - Saturday</li>
                                <li>Location: Boudha, Xavier International College Court.</li>
                            </ul>
                        </div>
                        <div class="plan-footer">
                            <a href="{% url 'contact' %}">
                                <h3 class="title">Book Now</h3>
                                <div class="plan-btn"><i class="fas fa-angle-right"></i></div>
                            </a>
                        </div>
                        <div class="plan-overlay">
                            <img src="{% static 'pricebg.jpg' %}" alt="element">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="plan-item">
                        <div class="plan-content">
                            <div class="plan-header">
                                <div class="plan-badge-area">
                                    <span class="plan-badge red">Evening</span>
                                </div>
                            </div>
                            <!-- <div class="plan-price-area">
                                <h2 class="price-title"><sup>Rs.</sup>TBD<sub>/day</sub></h2>
                            </div> -->
                            <ul class="plan-list">
                                <li>5:00 PM to 7:00 PM</li>
                                <li>Sunday - Friday</li>
                                <li>Location: Sana Gaun, Lalitpur Nepal.</li>
                            </ul>
                        </div>
                        <div class="plan-footer">
                            <a href="{% url 'contact' %}">
                                <h3 class="title">Book Now</h3>
                                <div class="plan-btn"><i class="fas fa-angle-right"></i></div>
                            </a>
                        </div>
                        <div class="plan-overlay">
                            <img src="{% static 'pricebg.jpg' %}" alt="element">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="about-section bg_img p-5" data-background="{% static 'assets/images/bg/bg-6.png' %}" style="background-image: url({% static 'assets/images/bg/bg-6.png' %});">
    <div class="container">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="about-content-area">
                    <div class="section-header text-center">
                        <h2 class="section-title">OUR <span>COACHES</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center  mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="about-content-area aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
                    <div class="section-header white text-center p-3">
                        <img src="{% static 'nirpesh.jpeg' %}" alt="icon" style="height: 200px;">
                        <h2 class="section-title mt-2"><span>NRIPESH SHRESTHA</span></h2>
                        <p>"Coaching this basketball team has been an incredibly rewarding experience. Witnessing the players' growth, not 
                            only in their skills but also in their teamwork and determination, has been truly inspiring. Guiding them 
                            through challenges and celebrating their successes has created a strong bond among us. I'm honored to be a 
                            part of their journey and proud of the progress they've made on and off the court."
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="about-content-area aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
                    <div class="section-header white text-center p-3">
                        <img src="{% static 'binod.jpg' %}" alt="icon" style="height: 200px;">
                        <h2 class="section-title mt-2"><span>BINOD MAHARJAN</span></h2>
                        <p>Coaching this basketball academy has been a privilege. The commitment to nurturing young talent and helping them 
                            develop both as athletes and individuals is truly commendable. Working with dedicated coaches and passionate players has 
                            allowed me to contribute to their growth and witness the remarkable progress. This academy's focus on skill-building, 
                            sportsmanship, and personal development sets it apart and makes it a fantastic place to coach."
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


<section class="subscribe-section pb-120 mt-120">
    <div class="container">
        <div class="subscribe-area">
            <div class="subscribe-element">
                <img src="{% static 'assets/images/element/element-22.png' %}" alt="element">
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="subscribe-thumb aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                        <img src="{% static 'coach.png' %}" alt="element" style="border-radius: 10px;">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="subscribe-content aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
                        <div class="section-header white">
                            <h2 class="section-title">Private or Personal Training Available.</h2>
                        </div>
                        <button type="submit" class="btn--base" style="background-color: black;">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-to-action-section ptb-120 bg_img" data-background="{{rcs.court_image.url}}" style="background-image: url({{rcs.court_image.url}});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="call-to-action-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                    <h2 class="title">Basketball Court Booking Available.</h2>
                    <div class="call-to-action-btn">
                        <a href="{% url 'contact' %}" class="btn--base" s>Contact Us <i class="fas fa-arrow-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<section>
    <img src="{{rcs.court_image.url}}" alt="" style="width: 100%;">
</section> -->

<section class="contact-item-section ptb-120">
    <div class="container">
        <div class="feature-widget-area feature-section-two feature-section--style feature-section--style-two">
            <h2 class="widget-title">Booking Details</span></h2>
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="feature-item-area">
                        <div class="row justify-content-center mb-30-none">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-30">
                                <div class="feature-item">
                                    <div class="feature-content">
                                        <h4 class="title"><span>01.</span> DAILY BASIS</h4>
                                        <p>{{rcs.booking_details1|safe}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-30">
                                <div class="feature-item">
                                    <div class="feature-content">
                                        <h4 class="title"><span>02.</span> MONTHLY BASIS</h4>
                                        <p>{{rcs.booking_details2|safe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-xl-12 col-lg-12">
                    <div class="feature-item-area">
                        <div class="row justify-content-center mb-30-none">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-30">
                                <div class="feature-item">
                                    <div class="feature-content">
                                        <h4 class="title">NOTES</h4>
                                        <p>{{rcs.bottom_text|safe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}