{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{data.company_name}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{data.color_logo.url}}" type="image/x-icon">
    <!-- swipper css link -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}">
    <!-- lightcase css links -->
    <link rel="stylesheet" href="{% static 'assets/css/lightcase.css' %}">
    <!-- odometer css link -->
    <link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}">
    <!-- line-awesome-icon css -->
    <link rel="stylesheet" href="{% static 'assets/css/icomoon.css' %}">
    <!-- line-awesome-icon css -->
    <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">
    <!-- animate.css -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- aos.css -->
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <!-- nice select css -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <!-- flipclock css -->
    <link rel="stylesheet" href="{% static 'assets/css/flipclock.css' %}">
    <!-- main style css link -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
