{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{data.company_name}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{data.color_logo.url}}" type="image/x-icon">
    <!-- swipper css link -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}">
    <!-- lightcase css links -->
    <link rel="stylesheet" href="{% static 'assets/css/lightcase.css' %}">
    <!-- odometer css link -->
    <link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}">
    <!-- line-awesome-icon css -->
    <link rel="stylesheet" href="{% static 'assets/css/icomoon.css' %}">
    <!-- line-awesome-icon css -->
    <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">
    <!-- animate.css -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- aos.css -->
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <!-- nice select css -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <!-- flipclock css -->
    <link rel="stylesheet" href="{% static 'assets/css/flipclock.css' %}">
    <!-- main style css link -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
{% for message in messages %}
<div class="popup-msg">
  <p class="popup-msg-text">{{message}}</p>
</div>
{% endfor %}
<style>
  .popup-msg {
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1000;
    top: 5%;
    right: -3%;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1.3px solid gray;
    color: black;
    background-color: rgb(228, 228, 228);
    box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.3);
  }
  .popup-msg-text {
    padding: 7px 5px 0px 5px;
  }
</style>

<script>
  let popup = document.querySelector(".popup-msg");
  if (popup) {
    setTimeout(() => {
      popup.style.display = "none";
    }, 3000);
  }
</script>